<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubRepoViewer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21164E072F8E59CE00E70A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21164E1D2F8E59D100E70A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21164E272F8E59D100E70A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
